{% extends 'AcmeStoreBundle::Layout.html.twig' %}
{% block title %} {{ 'product.plurar' | trans }} {% endblock %}

{% block sidebar %}
    <aside>
        <h3> {{ 'product.lattests' | trans }}</h3>
        {% for product in last_products %}
            <p> <a href="{{ path('store_showproduct', {slug: product.slug}) }}">{{ product.name }}</a></p>
        {% endfor %}
    </aside>
{% endblock %}

{% block section %}
    {% for product in produts %}
        {% include 'AcmeStoreBundle:Product:Product.html.twig' with {'product': product} %}
    {% endfor %}
{% endblock %}